<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Bunter Ball</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="icon" type="img/ico" href="{% static "images/favicon.ico" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="content">
      {% if user.is_authenticated %}
        {% include "menu.html" %}
      {% endif %}

      {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}

      {% block content %}{% endblock %}
    </div>
  </body>
</html>
