{% extends "base.html" %}
{% load static %}
{% block content %}
      <h2>{{ course.title }}</h2>
      <div class="content-item bg-white">
        <h3><img class="icon-inline" src="{% static "heroicons/icon-location.svg" %}"> {{ course.location }}</h3>
        <h3><img class="icon-inline" src="{% static "heroicons/icon-calendar.svg" %}"> {{ course.dates }}</h3>
{% for user in user_list %}
        <h3><img class="icon-inline" src="{% static "heroicons/icon-user.svg" %}"> {{ user.first_name }}</h3>
{% endfor %} 
      </div>
      <h2>Lerneinheiten</h2>
{% if lesson_list %}
  {% for lesson in lesson_list %}
    <a href="/gui/course/{{ course.id }}/{{ lesson.id }}/" class="div-link">
      <div class="content-item centered {% if lesson.needs_feedback %}bg-ish{% else %}bg-grey{% endif %}">
        <h3>{{ lesson.title }}
          {% if lesson.mandatory %}
          <img class="icon-inline" src="{% static "heroicons/icon-exclamation.svg" %}">
          {% endif %}
        </h3>
      </div>
    </a>
  {% endfor %}
    <div class="content-item" style="background: #fff;">
      <img class="icon-inline" src="{% static "heroicons/icon-exclamation.svg" %}"> Diese Einheiten sind verpflichtend.
    </div>
{% endif %}
{% endblock %}
