{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>Feedback</h2><h2>{{ lesson.title }}</h2>

    <p>
      Hier hast du Platz all das aufzuschreiben, was du in der AG bzw. bei einem Kind beobachtet hast und was dir kinderschutzrelevant erscheint. Bitte beschreibe deine Beobachtung so sachlich, neutral und detailliert wie möglich. Wir kommen dann ggf. mit Nachfragen auf dich zu. <br> 
      Solltest du das Gefühl haben, dass deine Beobachtungen extrem waren und ein akutes Handeln notwendig ist, dann klingel bitte zusätzlich bei Annabell durch oder schreib ihr eine Mail an <a href="mailto:annabell@insafehands.de">annabell@insafehands.de</a>.
    </p>

    <form method="post">
      {% csrf_token %}
      {% if saved %}
      <div class="content-item centered bg-white">
        <h3>Gespeichert!</h3>
      </div>
      {% endif %}
      <div class="feedback-form content-item centered">
        <input type="hidden" name="feedback_id" value="{{ feedback.id }}">
        <h3>Teilnehmende</h3>
        <h4>Männlich</h4>
        <div>
          <img src="{% static "heroicons/icon-minus-circle.svg" %}" style="width: 2em; margin-right: 2em;" onclick="document.getElementById('male').stepDown(1);">
          <input id="male" name="male" type="number" maxlength="2" value="{{ feedback.male }}">
          <img src="{% static "heroicons/icon-plus-circle.svg" %}" style="width: 2em; margin-left: 2em;" onclick="document.getElementById('male').stepUp(1);">
        </div>
        <h4>Weiblich</h4>
        <div>
          <img src="{% static "heroicons/icon-minus-circle.svg" %}" style="width: 2em; margin-right: 2em;" onclick="document.getElementById('female').stepDown(1);">
          <input id="female" name="female" type="number" maxlength="2" value="{{ feedback.female }}">
          <img src="{% static "heroicons/icon-plus-circle.svg" %}" style="width: 2em; margin-left: 2em;" onclick="document.getElementById('female').stepUp(1);">
        </div>
        <h4>Anderes Geschlecht</h4>
        <div>
          <img src="{% static "heroicons/icon-minus-circle.svg" %}" style="width: 2em; margin-right: 2em;" onclick="document.getElementById('other').stepDown(1);">
          <input id="other" name="other" type="number" maxlength="2" value="{{ feedback.other }}">
          <img src="{% static "heroicons/icon-plus-circle.svg" %}" style="width: 2em; margin-left: 2em;" onclick="document.getElementById('other').stepUp(1);">
        </div>
      </div>
      <div class="feedback-form content-item centered">
        <h3>Feedback der Kinder</h3>
        <h4>Negativ</h4>
        <div>
          <img src="{% static "heroicons/icon-minus-circle.svg" %}" style="width: 2em; margin-right: 2em;" onclick="document.getElementById('negative').stepDown(1);">
          <input id="negative" name="negative" style="border: 1px solid #f00;" type="number" min=0 max=100 maxlength="2" value="{{ feedback.negative }}">
          <img src="{% static "heroicons/icon-plus-circle.svg" %}" style="width: 2em; margin-left: 2em;" onclick="document.getElementById('negative').stepUp(1);">
        </div>
        <h4>Positiv</h4>
        <div>
          <img src="{% static "heroicons/icon-minus-circle.svg" %}" style="width: 2em; margin-right: 2em;" onclick="document.getElementById('positive').stepDown(1);">
          <input id="positive" name="positive" style="border: 1px solid #0f0;" type="number" min=0 max=100 maxlength="2" value="{{ feedback.positive }}">
          <img src="{% static "heroicons/icon-plus-circle.svg" %}" style="width: 2em; margin-left: 2em;" onclick="document.getElementById('positive').stepUp(1);">
        </div>
      </div>
      <div class="feedback-form content-item centered">
        <h3>Bälle zu Beginn der AG</h3>
        <h4>Blau</h4>
        <div>
          <img src="{% static "heroicons/icon-minus-circle.svg" %}" style="width: 2em; margin-right: 2em;" onclick="document.getElementById('start_blue').stepDown(1);">
          <input id="start_blue" name="start_blue" style="border: 1px solid #00f;" type="number" min=0 max=100 maxlength="2" value="{{ feedback.start_blue }}">
          <img src="{% static "heroicons/icon-plus-circle.svg" %}" style="width: 2em; margin-left: 2em;" onclick="document.getElementById('start_blue').stepUp(1);">
        </div>
        <h4>Gelb</h4>
        <div>
          <img src="{% static "heroicons/icon-minus-circle.svg" %}" style="width: 2em; margin-right: 2em;" onclick="document.getElementById('start_yellow').stepDown(1);">
          <input id="start_yellow" name="start_yellow" style="border: 1px solid #fe0;" type="number" min=0 max=100 maxlength="2" value="{{ feedback.start_yellow }}">
          <img src="{% static "heroicons/icon-plus-circle.svg" %}" style="width: 2em; margin-left: 2em;" onclick="document.getElementById('start_yellow').stepUp(1);">
        </div>
        <h4>Grün</h4>
        <div>
          <img src="{% static "heroicons/icon-minus-circle.svg" %}" style="width: 2em; margin-right: 2em;" onclick="document.getElementById('start_green').stepDown(1);">
          <input id="start_green" name="start_green" style="border: 1px solid #0f0;" type="number" min=0 max=100 maxlength="2" value="{{ feedback.start_green }}">
          <img src="{% static "heroicons/icon-plus-circle.svg" %}" style="width: 2em; margin-left: 2em;" onclick="document.getElementById('start_green').stepUp(1);">
        </div>
        <h4>Rot</h4>
        <div>
          <img src="{% static "heroicons/icon-minus-circle.svg" %}" style="width: 2em; margin-right: 2em;" onclick="document.getElementById('start_red').stepDown(1);">
          <input id="start_red" name="start_red" style="border: 1px solid #f00;" type="number" min=0 max=100 maxlength="2" value="{{ feedback.start_red }}">
          <img src="{% static "heroicons/icon-plus-circle.svg" %}" style="width: 2em; margin-left: 2em;" onclick="document.getElementById('start_red').stepUp(1);">
        </div>
      </div>
      <div class="feedback-form content-item centered">
        <h3>Bälle zum Ende der AG</h3>
        <h4>Blau</h4>
        <div>
          <img src="{% static "heroicons/icon-minus-circle.svg" %}" style="width: 2em; margin-right: 2em;" onclick="document.getElementById('end_blue').stepDown(1);">
          <input id="end_blue" name="end_blue" style="border: 1px solid #00f;" type="number" min=0 max=100 maxlength="2" value="{{ feedback.end_blue }}">
          <img src="{% static "heroicons/icon-plus-circle.svg" %}" style="width: 2em; margin-left: 2em;" onclick="document.getElementById('end_blue').stepUp(1);">
        </div>
        <h4>Gelb</h4>
        <div>
          <img src="{% static "heroicons/icon-minus-circle.svg" %}" style="width: 2em; margin-right: 2em;" onclick="document.getElementById('end_yellow').stepDown(1);">
          <input id="end_yellow" name="end_yellow" style="border: 1px solid #fe0;" type="number" min=0 max=100 maxlength="2" value="{{ feedback.end_yellow }}">
          <img src="{% static "heroicons/icon-plus-circle.svg" %}" style="width: 2em; margin-left: 2em;" onclick="document.getElementById('end_yellow').stepUp(1);">
        </div>
        <h4>Grün</h4>
        <div>
          <img src="{% static "heroicons/icon-minus-circle.svg" %}" style="width: 2em; margin-right: 2em;" onclick="document.getElementById('end_green').stepDown(1);">
          <input id="end_green" name="end_green" style="border: 1px solid #0f0;" type="number" min=0 max=100 maxlength="2" value="{{ feedback.end_green }}">
          <img src="{% static "heroicons/icon-plus-circle.svg" %}" style="width: 2em; margin-left: 2em;" onclick="document.getElementById('end_green').stepUp(1);">
        </div>
        <h4>Rot</h4>
        <div>
          <img src="{% static "heroicons/icon-minus-circle.svg" %}" style="width: 2em; margin-right: 2em;" onclick="document.getElementById('end_red').stepDown(1);">
          <input id="end_red" name="end_red" style="border: 1px solid #f00;" type="number" min=0 max=100 maxlength="2" value="{{ feedback.end_red }}">
          <img src="{% static "heroicons/icon-plus-circle.svg" %}" style="width: 2em; margin-left: 2em;" onclick="document.getElementById('end_red').stepUp(1);">
        </div>
      </div>
      <div class="feedback-form content-item centered">
        <h3>Dein Kommentar zur Stunde</h3>
        <textarea style="margin:auto; width: 95%; height: 20vh; resize:none; margin-bottom: 0.3em;" name="comment">{{ feedback.comment }}</textarea>
      </div>
      <div class="feedback-form content-item centered">
        <h3>Zitat eines Kindes</h3>
        <textarea style="margin:auto; width: 95%; height: 20vh; resize:none; margin-bottom: 0.3em;" name="quote_child">{{ feedback.quote_child }}</textarea>
      </div>
      <div class="feedback-form content-item centered">
        <h3>Kinderschutzrelevante Anmerkungen</h3>
        <textarea style="margin:auto; width: 95%; height: 20vh; resize:none; margin-bottom: 0.3em;" name="childprotection">{{ feedback.childprotection }}</textarea>
      </div>
      <div class="content-item bg-white centered">
        <input name="save" type="submit" class="ig-button" value="Speichern">
      </div>
    </form>
{% endblock %}
