{% extends "base.html" %}
{% load static %}
{% block content %}
{% autoescape off %}
    <h2>{{ lesson_details.title }}</h2>
{% if lesson_details.feedback_required %}
    <div style="" class="content-item bg-white">
      <a href="/gui/feedback/{{ course.id }}/{{ lesson_details.id }}" class="button ig-button" style="float:right;">Feedback</a>
    </div>
{% endif %}
{% for item in lesson_meta %}
  <div>
    <table><tr><td><img style="height:2em;" src="{{item.icon.url}}" alt="{{item.description}}" title="{{item.description}}"></td><td><h3>{{ item.value }}</h3></td></tr></table>
  </div>
{% endfor %}
{% if lesson_details.description and lesson_details.description.strip %}
      <div class="content-item editable-content">
        {{ lesson_details.description }}
      </div>
{% endif %}
{% if sub_lesson_list %}
    <h3>Untergeordnete Lerneinheiten</h3>
  {% for lesson in sub_lesson_list %}
    <a href="/gui/course/{{ course.id }}/{{ lesson.id }}/" class="div-link">
      <div class="content-item centered {% if lesson.needs_feedback == 1 %}bg-ish{% else %}bg-grey{% endif %}">
         <h3>{{ lesson.title }}
          {% if lesson.needs_feedback == 2 %}
          <img style="height: 1em;" src="{% static "heroicons/icon-check-circle.svg" %}">
          {% endif %}
          {% if lesson.mandatory %}
          <img style="height: 1em;" src="{% static "heroicons/icon-exclamation.svg" %}">
          {% endif %}
        </h3>
     </div>
    </a>
  {% endfor %}
    <div class="content-item" style="background: #fff;">
      <img style="height: 1em;" src="{% static "heroicons/icon-exclamation.svg" %}"> Diese Einheiten sind verpflichtend.
    </div>
    <div class="content-item bg-white"></div>
{% endif %}
{% if lesson_details.questions %}
      <div class="content-item editable-content large-padding">
        <h3>Reflektionsfragen</h3>
        {{ lesson_details.questions }}
      </div>
{% endif %}
{% for attachment in lesson_attachments %}
  <a href="{{ attachment.url }}" class="div-link">
    <div class="content-item centered">
  {% if attachment.is_image %}
    {% load thumbnail %}
    {% thumbnail attachment.attached_file 400x400 upscale subject_location=attachment.attached_file.url as thumb %}
    <img width="100%" src="{{ thumb.url }}">
  {% else %}
    <h3><img class="icon-inline" src="{% static "heroicons/icon-download.svg" %}">{{ attachment.description }}</h3>
  {% endif %}
    </div>
  </a>
{% endfor %}
{% endautoescape %}
{% endblock %}
