{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="login/" method="post">
  <div class="content-item bg-white">
    {% csrf_token %}
    <div>
      <img src="{{ main_logo }}" class="logo-main">
    </div>
    <h1 class="login">Bunter Ball</h1>
    <div >
      <input type="text" name="username" class="input-icon input-icon-user input-ish" placeholder="Benutzername">
    </div>
    <div>
      <input type="password" name="password" class="input-icon input-icon-pw input-ish" placeholder="Passwort">
    </div>
    <div class="centered">
      <input type="submit" class="ig-button" value="Anmelden">
    </div>
    <div>
      <img class="centered large-padding" src="{% static "heroicons/icon-mail.svg" %}">
    </div>
    <div>
      Du hast noch keinen Account oder dein Passwort vergessen? Wende dich bitte an <a href="mailto:bunterball@insafehands.de">bunterball@insafehands.de</a>.
    </div>
  </div>
</form>
{% for logo in logos %}
  <div class="content-item bg-white centered">
    <img width="50%" src="{{ logo.logo.url }}">
  </div>
{% endfor %}
{% endblock %}
