{% load static %}
    <nav role="navigation">
      <div id="menu-container">
        <!--<div style="position:absolute;"><img style="width: 35px;" src="{% static "heroicons/icon-menu.svg" %}"></div>-->
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <div id="menu">
          <div class="ish-bg full-menu-placeholder"></div>
          <div class="centered ish-bg full-menu">
            <img class="centered portrait" src="{% static "images/ish.svg" %}">
          </div>
          <div class="centered ish-bg full-menu">
            <h3>Coach {{ user_info.name }}</h3>
            <img style="height: 1em;" src="{% static "heroicons/icon-location.svg" %}"> {{ user_info.location }}
          </div>
          <div class="centered ish-bg full-menu">
            <div class="centered half-menu">
              dabei seit
              <h3>{{ request.user.date_joined.date }}</h3>
            </div>
            <div class="centered half-menu">
              Kurse insgesamt
              <h3>{{ user_info.courses }}
            </div>
          </div>
          <ul>
            <li><a href="/gui/news">Neuigkeiten</a></li>
            <li><a href="/gui/courses">Meine Kurse</a></li>
            <li><a href="/gui/contact">Kontakt</a></li>
            <li><a href="/gui/profile">Profil und Einstellungen</a></li>
            <li><a href="/gui/privacy">Datenschutz</a></li>
            <li><a href="/gui/logout">Abmelden</a></li>
          </ul>
        </div>
      </div>
    </nav>
