{% extends "base.html" %}
{% load static %}
{% block content %}
{% autoescape off %}
      <h2>Neuigkeiten</h2>
{% if news_list %}
  {% for news_item in news_list %}
      <div class="content-item">
        <p class="news-title">{{ news_item.title }}</p>
        <hr noshade>
        <p>{{ news_item.text }}</p>
        <p class="news-date">{{ news_item.author }}, {{ news_item.pub_date }}</p>
      </div>
  {% endfor %}
{% else %}
      <div class="news-item">Keine Neuigkeiten.</div>
{% endif %}
{% endautoescape %}
{% endblock %}
